html, body{
    margin:0;
    padding:0;
    height:100%;
    width:100%;
    overflow-x: hidden;
}

.navbar{
    margin:0px;
    border:0;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    background: #3a3a3a;
}

.navbar a{
    color: #6b696a;
}

.navbar-toggle{
    border 0;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

.content{
    margin-top: 50px;
}

.content-header{
    padding-top:20px;
    padding-bottom:20px;
}

.pe_product_delete{
    position: absolute;
    top:5px;
    right:20px;
    cursor: pointer;
}

.pe_divider{
    margin-top:19px;
    margin-bottom:19px;
    height:2px;
}

.pe_presentation_div{
    min-height:100%;
    width:100%;
    color: white;
    
    padding-bottom: 100px;
}

.pe_presentation_div h2{
    font-size: 35px;
    text-shadow: 4px 4px 3px rgba(0, 0, 0, 0.26);
}

.pe_presentation_div .container{
    padding-top:40px;
    padding-right:40px;
}

.pe_presentation_div_1{
    background-color:#F9A825 ;
}

.pe_presentation_div_2{
    
    background-color: #64B5F6;
}

.pe_presentation_div_3{
    background-color: #FF5722;
}

.pe_presentation_div_4{
    background-color: #8BC34A;
}

.pe_whatis_paragraph p{
    padding-top:40px;
    padding-bottom:40px;
}

.pe_internal_div{
    margin-bottom:50px;
}

.pe_internal_div h4{
    color:white;
}

#internal{
    color:white !important; 
}

#internal .panel{
    color:black;
} 